@use "~sass/abstracts/mixins/components/ui/button/button.variants" as *;
@use "~sass/abstracts/mixins/components/ui/button/button.color" as *;
@use "~sass/abstracts/mixins/components/ui/button/button.shape" as *;
@use "~sass/abstracts/mixins/components/ui/button/button.size" as *;
@use "~sass/abstracts/mixins/components/ui/button/button.size" as *;
@use "~sass/abstracts/mixins/components/ui/button/button.gradient" as *;
@use "~sass/abstracts/variables" as *;

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition-duration: 200ms;
  margin: 0.2rem;
  font-weight: 500;
  line-height: 1.2;
}

// 🔹 Variant + Color Base
@each $variant in (filled, outlined, plastic, text, tonal) {
  @each $color-name, $color in $theme-colors {
    .btn--variant-#{$variant}.btn--color-#{$color-name} {
      @include button-variant($variant, $color-name);
      @include button-color($color-name);
    }

    // 🔹 Gradient si se activa el modificador
    .btn--variant-#{$variant}.btn--color-#{$color-name}.btn--gradient {
      @include button-gradient($variant, $color-name);
    }
  }
}

// 🔹 Shape
@each $shape, $radius in $button-shape {
  .btn--shape-#{$shape} {
    @include button-shape($shape);
  }
}

// 🔹 Size
@each $size, $config in $button-sizes {
  .btn--size-#{$size} {
    @include button-size($size);
  }
}
